@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,900,700italic,700,600italic,600,400italic);

#time-span {
    font-family: 'Titillium Web',cursive;
    /*width: 800px;*/
    margin: 0 auto;
    text-align: center;
    color: #000;
    background: #fff;
    font-weight: 100;
}
#time-span > h2 {
    padding-top: 36px;
}

.time-div {
  display: inline-block;
  line-height: 1;
  padding: 20px;
  font-size: 40px;
}

.time-span {
  display: block;
  font-size: 20px;
  color: black;
}

#days {
  font-size: 100px;
  color: #db4844;
}
#hours {
  font-size: 100px;
  color: #f07c22;
}
#minutes {
  font-size: 100px;
  color: #f6da74;
}
#seconds {
  font-size: 50px;
  color: #abcd58;
}