//$font1: "opensans";
$font1: "poppins";
$font2: "Lora";
$font3: "Linearicons-Free";

$grey :rgba(black, 0.8);
$color_dark_grey : #2c2d33;
$primary :#E87B1C;
$secondary :#fede9b;
$altsection: #f7f7f7;
