@import 'compass';
@import 'bootstrap/mixins';
@import 'bootstrap/functions';
@import 'bootstrap/variables';
@import 'variables';

/*===============================================
=            Global classes for tags            =
===============================================*/

html, body {
  height: 100%;
  min-height: 100vh;
}

body{
  font-family:$font1;
  font-size:14px;
  font-weight:400;
  line-height:1.5em;
  color:$grey;
  -webkit-font-smoothing: antialiased;

  background-color: #f6f6f6;

 /* background: rgb(69,16,138);
  background: linear-gradient(122deg, rgba(69,16,138,1) 0%, rgba(61,6,95,1) 29.29%, rgba(16,5,77,1) 100%);
  color: #fff;
  background-attachment: fixed;*/


}

input{
  &[type="text"], &[type="email"], &[type="password"]{
    height:60px;
    width:100%;
    border:solid 2px rgba($primary, 0.1);
    padding:5px 15px;
    color:rgba(black,0.8);
    font-weight:500;
    margin:0 0 11px 0;
    @include transition(all 0.3s ease-in-out);
    @include border-radius(3px);
    @include input-placeholder{
      color:rgba(black,0.8);
    }
    @media (max-width: 599px) {
      height:50px;
    }
    &:focus{
      border:solid 2px rgba($primary, 1);
      outline:0 !important;
    }
    &:not(.error){
      & + span{
        & + label{
          font-size:0;
        }
      }
    }
    @include input-placeholder {
      color: $primary;
    }
  }
}
textarea{
  overflow: auto;
  border: solid 2px rgba($primary,0.1);
  @include border-radius(3px);
  padding: 19px;
  margin:0 0 15px 0;
  font-weight:500;
  width:100%;
  @include transition(all 0.3s ease-in-out);
  @include input-placeholder{
    color:rgba(black,0.8);
  }
  @media (max-width: 599px) {
    padding: 10px;
  }
  &:focus{
    border:solid 2px rgba($primary, 1);
    outline:0 !important;
  }
  @include input-placeholder {
    color: $primary;
  }
}

h1, h2, h3, h4, h5, h6{
  margin:0 0 20px;
  color:$primary;
  line-height:1.2;
  font-family: $font2;
  &.grey{
    color:$grey;
  }
}
h1, h2, h3, h4{
  /*letter-spacing:-0.04em;*/
  font-weight:400;
}

h1{
  font-size:52px;
  @media (max-width: 767px) {
    font-size:32px;
  }
}
h2{
  font-size:48px;
  @media (max-width: 767px) {
    font-size:27px;
  }
}
h3{
  font-size:32px;
  @media (max-width: 991px) {
    font-size: 27px;
  }
}
h4{
  font-size:30px;
  @media (max-width: 991px) {
    font-size:25px;
  }
}
h5{
  font-size:20px;
  font-weight:500;
  line-height:1.5;
}
h6{
  font-size:18px;
  font-weight:500;
  line-height:28px;
  margin-bottom:10px;
}
a{
  color:$primary;
  &:hover{
    color:black;
    text-decoration:none;
  }
}
hr{
  margin:45px 0 43px 0;
  border-top: 1px solid rgba($primary, 0.2);
  @media (max-width: 767px) {
    margin:35px 0;
  }
}


/*======================================
=            Global classes            =
======================================*/

.btn{
  &.btn-default{
    @include border-radius(3px);
    letter-spacing: -0.03em;
    color:white;
    background:$primary;
    font-size:16px;
    padding: 14px 37px;
    border-color:$primary;
    font-weight:600;
    @include transition(all 0.3s ease-in-out);
    &:hover{
      background:white;
      color:$primary;
    }
  } 
  &.btn-thin{    
    padding: 9px 26px;
    letter-spacing: 0.02em;
  } 
}
.ds-link-icon{
  color:$primary;
  i{
    font-size:11px;
    display:inline-block;
    margin-left:5px;
    vertical-align: top;
  }
  &:hover{
    color:black;
    text-decoration:none;
  }
}

.bootstrap-select {
  width:100% !important;
  margin-bottom:15px;
  &.open{
    >.btn-default{
      &.dropdown-toggle{
        color: $primary;
        background-color: white;
        border-color: rgba($primary, 0.1);
        @include box-shadow(none !important);
      }
    }
  }
  select{
    position:absolute;
    left:0;
    top:0;
    width:0;
    height:0;
    border:none;
    opacity:0;
  } 
  .dropdown-toggle {
    .filter-option{
      vertical-align:middle;
      letter-spacing:0.01em;
      line-height: 26px;
      color:$primary;
    }
    .caret{
      right: 15px;
      border:none;
      width: 13px;
      &:before{
        content:'\63';
        font-family: "acro";
        font-size:13px;
        display: inline-block;
        position: absolute;
        top: 50%;
        @include transform(translateY(-40%));
      }
    }
  }
  .btn{
    width:100%;
    text-align:left;
    position:relative;
    border:none;
    @include box-shadow(none !important);
    outline:none !important;
    @include border-radius(0);
    padding: 16px 15px;
    font-size: 16px;
    font-weight: 500;
    background-color:white;
    color:$primary;
    font-weight:500;
    border: solid 2px rgba($primary, 0.1);    
    @include border-radius(3px);
    &:hover, &:focus, &:active{
      outline:none !important;
    }
    &:after{
      position:absolute;
      right:20px;
      top:50%;
      margin-top:-3px;
      color:#9b9b9b;
    }
  } 
  .dropdown-menu{
    width:100%;
    border:solid 2px rgba($primary, 0.1);
    @include border-radius(0);
    background:white;
    top: 94%;
    &.inner{
      position:static;
      display:block;
      border:none;
      @include box-shadow(none);
      @include border-radius(0);
      background:none;
      li{
        &:after{
          content:'';
          width:calc(100% - 24px);
          margin-left:12px;
          display:block;
          height:1px;
          background:#ebebeb;
        }
        &:last-child{
          &:after{
            display:none;
          }
        }
        a{
          display:block;
          color:$primary;
          font-size:16px;
          font-weight:500;
          padding: 13px 12px;
          &:hover, &:focus, &:active{
            background:rgba($primary, 0.1);
            color:$primary;
          }
        }
        &.selected{
          a{
            background:rgba($primary, 0.1);
            outline:none;
          }
          &:after{
            display:none;
          }
        }
      }
    }
    &.open{
      @include box-shadow(none);
      border-top: solid 1px rgba(79,83,183,0.1);
    }
  }
}
.ds-underline{
  text-decoration:underline;
}
.alert {
  border: none;
  color: white;
  font-weight: 500;
  padding: 17px 20px;
}
.alert-success {
  background-color: #197b30;
}
.alert-danger {
  background-color: #bb0b10;
}

/*=====  End of Global classes  ======*/


/*===========================================
=            Navigation and Logo            =
===========================================*/

.navbar-brand{
  height:auto;
  padding-top:0;
  padding-bottom:0;
  >img{
    height: 70px;
    @media (max-width: 767px) {
      height: 60px;
    }
  }
}

.navbar-default {
  background-color: transparent;
  border: none;
  padding-top:32px;
  position: absolute;
  width: 100%;
  z-index:100;
  @media (max-width: 1199px) {
    padding-top: 15px;
  }
  .navbar-nav{
    >li{
      >a{
        color:white;
        font-weight:600;
        padding: 9px 22px;
        @include border-radius(4px);
        @media (max-width: 991px) {
          padding: 9px 10px;
        }
        &:hover, &:focus{
          background-color:$primary;
          color:white;
        }
        span{
          font-size: 13px;
          margin-left: 3px;
          line-height: 1;
        }
      }
      &.open{
        >a{
          background-color:$primary;
          color:white;
          @media (max-width: 767px) {
            color:white;
          }
          &:hover, &:focus{          
            background-color:$primary;
            color:white;
          }
        }
        .dropdown-menu{
          >li{
            >a{
              color:white;
            }
          }
        }
      }
      .dropdown-menu{
        background-color:$primary;
        font-size:16px;
        border: none;
        @include border-radius(4px);
        right: auto;
        left: 0;
        margin-top:3px;
        >li{
          >a{
            padding: 10px 20px;
            color:white;
            &:hover{
              color:$primary;
            }
          }
        }
      }
    }
    >.active, >.active, >.active{
      > a, > a:hover, > a:focus{
        background:$primary;
        text-decoration:underline;
        color:white !important;
      }
    }
  }
  .navbar-collapse{
    padding-top:5px;
    @media (max-width: 767px) {
      background:$primary;
    }
  }
  .navbar-toggle{
    background:white;
    border:none;
    margin-top: 15px;
    padding: 10px;
    @media(max-width:767px){
      padding:13px;
      margin-top: 10px;
      margin-right: 12px;
      margin-bottom: 10px;
    }
    @media (max-width: 599px) {
      margin-top: 7px;
      margin-bottom: 8px;
    }
    @media(max-width:400px){
      padding:10px;
    }
    .icon-bar{
      width: 25px;
      height: 1px;
      background:$primary;
      position:relative;
      @include transition(all 0.2s ease-in-out);
      @include transform(translate(0, 10px) rotate(45deg));
      & + .icon-bar{
        @include transform(translate(0, 0) rotate(-45deg));
        margin-top: 9px;
      }
      & + .icon-bar + .icon-bar{
        @include opacity(0);
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
    &:hover, &:focus, &:active{
      background-color:white !important;
      .icon-bar{
        background:$grey;
      }
    }
    &.collapsed{
      background:white;
      .icon-bar{
        @include transform(none);
        background:$primary;
        margin-top: 5px;
        & + .icon-bar + .icon-bar{
          display:block;
          @include opacity(1);
        }
      }
      &:hover, &:focus, &:active{
        background:white;
        .icon-bar{
          background:$primary;;
        }
      }
    }
    &:hover, &:focus{
      background:white;      
      .icon-bar{
        background:$primary;
      }
    }
  }
  &.navbar-inner{
    .navbar-nav{
      >li{
        >a{
          color:$primary;
          &:hover, &:focus{
            color:white;
          }
        }
      }
    }
    .navbar-collapse{
      @media (max-width: 767px) {
        background:white;
        @include box-shadow(0px 9px 35px -12px rgba(black,0.32));
      }
    }
    .navbar-toggle{
      background:$primary;
      .icon-bar{
        background:white;
      }
      &:hover, &:focus{
        background:$primary !important;
      }
      &.collapsed{
        &:hover, &:focus, &.active{
          .icon-bar{
            background:white;
          }
        }
      }
    }
  }
}

.ds-navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1080;
  padding: 0.5rem 4rem;
  text-align: center;
  @include transition(all 0.3s ease-in-out !important);
  @media (max-width: 767px) {
    padding: 0.5rem 1rem;
  }
  &.scrolled{
    background-color: rgba(255,255,255,0.7);
    backdrop-filter: blur(5px) !important;
    @include transition(all 0.3s ease-in-out !important);
    height: auto !important;
    min-height: initial !important;
    padding: 0px !important;
    box-shadow: 30px 30px 60px -10px rgba(0,0,0,0.2);
    @media (max-width: 767px) {
      position: absolute !important;
    }
    .navbar-brand {
      width: 0px !important;
      margin: 0px;
      height: auto;
      .ds-logo {
        height: auto !important;
      }
    }
    .navbar-nav {
      margin: 0px auto !important;
      .nav-item{
        .nav-link {
          color: rgba(0, 0, 0, 0.5);
          @media (max-width: 767px) {
            color: rgba(255, 255, 255, 0.5);
          }
          &.active {
            font-weight: 500;
            color: #000;
            @media (max-width: 767px) {
              color: #fff !important;
            }
          }
        }
      } 
    }
  }
  + header {
    padding-top: 7rem;
  }
  .navbar-nav{
    @media (max-width: 767px) {
      background-color: rgba(37, 69, 151, 0.91);
      margin-top: 10px;
      border-top: solid 5px rgb(40, 48, 111);
    }
    .nav-item {
      padding: 5px 0px 5px 30px;
      @media (max-width: 767px) {
        padding: 5px 0px 5px 0px;
      }
    }
  }
}

/*=====  End of Navigation and Logo  ======*/

/*===================================
=            Main Slider            =
===================================*/

.ds-main-slider{
  position:relative;
  .slick-slide{
    >div{
      padding-bottom:48.61111111111111%;
      background-size:cover;
      max-height:700px;
      min-height:500px;
      position:relative;
      height:auto;
      &:before{
        content:'';
        display:block;
        position:absolute;
        width:100%;
        height:100%;
        left:0;
        top:0;
        background:rgba($primary, 0.6);
      }
    }
  }
  .ds-main-slider-caption{
    position:absolute;
    left:50%;
    top:50%;
    @include transform(translate(-50%,-50%));
    text-align:center;
    max-width:575px;
    width: 100%;
    h2{
      font-size:52px;
      color:white;
      max-width:450px;
      margin-left:auto;
      margin-right:auto;
      @media (max-width: 1199px) {
        font-size: 42px;
      }
      @media (max-width: 1199px) {
        font-size: 37px;
      }
    }
    h5{
      color:white;
      line-height:1.5;
      margin-bottom:30px;
    }
  }
}

/*=====  End of Main Slider  ======*/

.ds-header-section{
  color: $white;
  h2 {
    font-size: 4rem;
    line-height: 1.2em;
    margin-bottom: 0px;
    color: $white;
    @media (max-width: 767px) {
      font-size: 3.5rem;
    }
  }
  .ds-TotalSupply-count{
    p{
      .h1{
        font-size: 1.5rem;
        margin-bottom: 30px !important;
        display: inline-block;
      }
    }
  }
} 

.bc_parallax_bg_wrap{
  height: 100vh;
  background-attachment: fixed;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

.ds-header-section {
  background-image: linear-gradient(148deg, #ffa16f 19%, #ed964a 100%) !important;
  position: relative;
  overflow: hidden;
  padding-bottom: 8rem;
  &::after {
    content: '';
    bottom: 0;
    height: 29vw;
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    background-image: url(https://www.elegantthemes.com/layouts/wp-content/uploads/2018/08/hosting-company-01.png);
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
  }
  img {
    position: relative;
    z-index: 99;
  }
  .container-fluid {
    position: relative;
    z-index: 9;
  }
}


.ds-header-section .ds-btn-dark {
  color: rgb(255, 255, 255) !important;
  border-color: rgba(0,0,0,0);
  border-radius: 100px;
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: 500 !important;
  background-color: rgb(9, 28, 79);
  box-shadow: 0px 20px 71px -14px rgb(9, 28, 79);
}
.ds-header-section .ds-btn-dark:hover {
  color: rgb(9, 28, 79) !important;
  box-shadow: none !important;
}



.btn-down-icon{
  a {
    position: absolute;
    bottom: 20px;
    z-index: 2;
   /* color: #fff;*/
    text-decoration: none;
    transition: opacity .3s;
    padding-top: 60px;
    left: 0;
    right: 0;
    &:hover {
      opacity: .5;
    }
    span {
      position: absolute;
      top: 0;
      left: 50%;
      width: 30px;
      height: 50px;
      margin-left: -15px;
      border: 2px solid #fff;
      border-radius: 50px;
      box-sizing: border-box;
      &::before {
        position: absolute;
        top: 10px;
        left: 50%;
        content: '';
        width: 6px;
        height: 6px;
        margin-left: -3px;
        background-color: #fff;
        border-radius: 100%;
        -webkit-animation: sdb10 2s infinite;
        animation: sdb10 2s infinite;
        box-sizing: border-box;
      }
    }
  }
} 
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}


/*======================================
=            Middle section            =
======================================*/

.ds-middle-section{
  padding:55px 0;
  overflow: hidden;
  @media (max-width: 767px) {
    overflow: hidden !important;
  }
}


.ds-middle-Socials-section{
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgb(255, 255, 255) 100%);
  padding-top: 5rem;
  overflow: visible;
  .socials-div {
    box-shadow: 30px 30px 60px -10px rgba(0,0,0,0.5);
    padding: 2rem 1rem;
    border-radius: 120px;
    margin-top: 2rem;
    /*margin-bottom: 5rem;*/
    background-color: rgb(92, 63, 244);
    svg {
      fill: #fff;
      path {
        fill: ivory !important;
      }
    }
    .col {
      border-right: solid 1px rgba(255, 255, 255, 0.29);
      &:nth-last-child(1) {
        border: 0px !important;
      }
    }
  }
  .btn {
    width: 50px;
    margin: 0px auto;
    display: block;
    padding: 0px !important;
    border: 0px !important;
    outline: none !important;
    border-radius: 30px;
    @include transition(all 0.3s ease-in-out !important);
    @media (max-width: 767px) {
      width: 30px;
    }
    &:hover {
      opacity: 0.5;
      @include transition(all 0.3s ease-in-out !important);
    }
    &.btn-telegram {
      /*color: RGB(0, 136, 204) !important;*/
    }
    &.btn-twitter {
      /*color: RGB(29, 161, 242) !important;*/
    }
    &.btn.btn-instagram {
      /*background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);*/
      /*padding: 10px !important;*/
      #insta-path {
        /*fill: #fff !important;*/
      }
    }
  }
}

.ds-section-title {
  font-size: 34px;
  line-height: 0.8em;
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 30px;
  @media (max-width: 767px) {
    font-size: 30px;
    padding-bottom: 20px;
  }
  &::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: rgb(255, 202, 135);
    bottom: 0;
    opacity: 0.5;
  }
}

.text-center{
  .ds-section-title{
    &::before {
      left: 0;
      right: 0;
      margin: 0px auto;
    }
  } 
} 
.ds-middle-AirDrop-section{
  overflow: visible !important;
  background-image: linear-gradient(180deg,rgb(255, 255, 255) 19%,rgb(179, 175, 255) 100%) !important;
  position: relative;
  padding-bottom: 5rem !important;
  @media (max-width: 767px) {
    overflow: hidden !important;
  }
  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIyOXZ3IiB2aWV3Qm94PSIwIDAgMTI4MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iI2ZmZmZmZiI+PHBhdGggZD0iTTY0MCAxMzlMMCAwdjE0MGgxMjgwVjBMNjQwIDEzOXoiLz48L2c+PC9zdmc+);
    background-size: 142.85714285714% 29vw;
    bottom: 0;
    height: 29vw;
    z-index: 1;
    opacity: 0;
  }
  .container{
    position: relative;
    z-index: 9;
  }
  h3 {
    font-size: 28px;
    font-family: inherit;
    color: rgb(92, 63, 244);
    font-weight: 500;
  }
  .btn {
    background-color: rgb(254, 228, 175);
    padding: 33px 60px 31px;
    border-radius: 10px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 0px !important;
    color: rgb(55, 6, 93);
    line-height: 1em;
    margin-bottom: 30px !important;
    margin-top: 10px !important;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 40px -5px rgba(249, 185, 90, 0.4);
    @media (max-width: 767px) {
      padding: 23px 30px 21px;
      font-size: 18px;
    }
    &:hover {
      box-shadow: none;
    }
  }
  img {
    /*transform: scale(1.5);*/
    @media (max-width: 767px) {
      /*transform: scale(1.5) translateX(-60px);*/
    }
  }
} 

.ds-card {
  margin-bottom: 40px;
  height: calc(100% - 110px);
  background-color: transparent !important;
  border: 0px !important;
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  @media (max-width: 767px) {
    margin-bottom: 70px;
    height: auto;
  }
  .card-body {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    border: 0px !important;
    border-radius: 24px 24px 24px 24px;
    overflow: hidden;
    align-content: flex-end;
    box-shadow: 0px 74px 69px -26px rgba(0,0,0,0.3);
    .input-group-prepend{
      .input-group-text {
        border: 0px !important;
        background-color: rgba(255, 255, 255, 0.27) !important;
        position: absolute;
        z-index: 99;
        top: 2px;
        bottom: 2px;
       /* color: #fff;*/
        font-weight: 500;
        border-radius: 8px 0px 0px 8px;
        padding: 10px 25px;
        left: 1px;
      }
    } 
    .form-control {
      border-radius: 10px;
      border: solid 2px rgba(255, 255, 255, 0.27) !important;
      background-color: transparent !important;
      padding-left: 100px !important;
      font-size: 24px;
     /* color: #fff;*/
      @media (max-width: 767px) {
        font-size: 20px;
      }
      &::placeholder {
        color: #fff !important;
        opacity: 0.5;
      }
      &:focus {
        box-shadow: 0px 10px 80px -10px rgba(44,54,92,0.2);
        border-color: #fff !important;
        color: #000 !important;
      }
    }
    .btn-claim {
      background-color: rgb(254, 228, 175);
      padding: 23px 50px 21px;
      border-radius: 10px;
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: 1px;
      border: 0px !important;
      color: rgb(55, 6, 93);
      line-height: 1em;
      margin-bottom: 15px !important;
      margin-top: 10px !important;
      box-shadow: 0 4px 20px 0 rgba(0,0,0,0.14),0 7px 40px -5px rgba(249,185,90,0.4);
      float: right;
      @media (max-width: 767px) {
        padding: 20px 40px 18px;
        font-size: 18px;
      }
      &:hover {
        box-shadow: none;
        color: rgb(62, 192, 242);
        background-color: #fff !important;
      }
    }
    h3 {
      font-size: 25px;
      font-family: inherit;
      color: rgb(92, 63, 244);
      font-weight: 500;
      margin-bottom: 0px;
    }
  }
  &.ds-AirDrop-card{
    .card-body {
      background-position: bottom left;
      background-image: url(https://www.elegantthemes.com/layouts/wp-content/uploads/2018/08/hosting-company-06.png),linear-gradient(237deg,rgb(70, 179, 255) 0%,rgb(7, 82, 254) 100%);
      background-color: RGB(126, 190, 197);
      align-content: flex-end;
      color: #fff;
      h3{
        color: #fff;
      }
    }
  }
  &.ds-BuyDSB-card{
    .card-body {
      background-position: bottom left;
      background-image: url(https://www.elegantthemes.com/layouts/wp-content/uploads/2018/08/hosting-company-07-1.png),linear-gradient(150deg,rgb(255, 186, 97) 0%,rgb(255, 220, 113) 100%);
      background-color: RGB(126, 190, 197);
    }
  }
}

.ds-middle-BuyDSB-section{
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); 
  padding-bottom: 21rem;
  position: relative;
  .bc_bg_wrap{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
} 

.ds-middle-CommingSoon-section{
  padding-top: 8vw;
  padding-bottom: 0px;
  background-image: linear-gradient(180deg,rgb(21, 11, 114) 0%,rgb(87, 104, 208) 100%) !important;
}

#chartdiv {
  width: 100%;
  height: 50vh;
  @media (max-width: 767px) {
    width: 100%;
    height: 70vh;
    font-size: 12px;
    padding-top: 3rem;
    > div {
      top: 0px !important;
    }
  }
}


.ds_blurb {
  line-height: 2em;
  background-color: rgb(255, 255, 255);
  border-radius: 10px 10px 10px 10px;
  padding-top: 30px !important;
  padding-right: 30px !important;
  padding-bottom: 30px !important;
  padding-left: 30px !important;
  margin-top: 6rem;
  margin-bottom: 5rem;
  height: calc(100% - 11rem);
  box-shadow: 0px 10px 80px -10px rgba(0, 0, 0, 0.2);
  .card-body {
    padding: 0px !important;
    .ds_image_wrap {
      margin-top: -7rem !important;
      display: block;
    }
    .ds_module_header {
      font-family: inherit;
      font-size: 24px;
      margin-bottom: 10px;
      font-weight: 600;
    }
    .ds_blurb_description{
      p {
        font-size: 14px;
        line-height: 1.5em;
      }
    } 
  }
}

/*=====  End of Middle section  ======*/


/*==============================
=            Footer            =
==============================*/

.ds-footer{
  .ds-footer-top{
    padding:35px 0;
    border-top:solid 2px rgba($primary, 0.1);
    border-bottom:solid 2px rgba($primary, 0.1);
    margin-bottom:20px;
    @media (max-width: 767px) {
      margin-bottom:12px;
      padding:25px 0;
    }
    [class*="col-"]{
      &:first-child{
        @media (min-width: 992px) {
          padding-right:0;
        }
        @media (max-width: 991px) {
          text-align:center;
        }
      }
    }
    img{
      max-width:100%;
      height:auto;
      max-height: 80px;
      margin-top: -20px;
      @media (max-width: 991px) {
        margin-bottom:15px
      }
    }
    .ds-footer-menu{
      @media (max-width: 767px) {
        margin-bottom:30px;
      }
      a{
        line-height:48px;
        display:inline-block;
        padding:0 11px;
        font-weight:600;
        @media (max-width: 767px) {
          line-height: 1.3;
          padding: 0 6px;
          font-size:14px;
        }
      }
    }
    .ds-footer-social{
      text-align:right;
      @media (max-width: 991px) {
        text-align:center;
      }
      a{
        font-size:20px;
        margin:0 10px;
        line-height:48px;
        @media (max-width: 767px) {
          line-height: 1.3;
          padding: 0 6px;
        }
        i{
          &:before{
            margin:0;
          }
        }
      }
    }
    & + p{
      color:$primary;
      font-size:14px;
    }
  }
}

/*=====  End of Footer  ======*/